*{
padding:0;
margin:0;
}

body{
font-size:20px;
}

.header{
height:4rem;
display:flex;
position:absolute;
}
      
.header__b{
font-size:2rem;
color:#fff;
font-family:sans-serif;
align-self: center;
padding-left:2rem;
}

.contenedor-inicio{
background:url(img/imgAgricultura2.jpg);
display:grid;
gap:2rem;
grid-template-columns:50% 50%;
background-repeat:no-repeat;
background-position:center center;
background-size: cover;
padding:6rem 0 6rem 0;
}

.contenedor-inicio__contenedor-principal{
display:flex;
flex-direction: column;
justify-content:center;
gap:1rem;
padding-left:2rem;
}

.contenedor-principal__h1{
font-size:3rem;
font-family:sans-serif;
color:#fff;

margin-bottom:.5rem;
}

.contenedor-principal__texto{
width:29rem;
font-size:1.2rem;
font-family:sans-serif;
color:#fff;

}

.contenedor-inicio__img{
height:30rem;
width:21rem;
border:.2rem solid #fff;
border-radius:2rem 0 2rem 0;
justify-self:center;
transform: translateX(2rem);
}

.contenedor-informacion{
display:grid;
grid-template-columns:50% 50%;
grid-template-rows:70% 30%;
padding:6rem 0 6rem 0;
background:#ededed;
}

.contenedor-informacion__adorno{
height:5rem;
width:5rem;
position: absolute;
right:10vw;
transform: translateY(-6rem);
}

.contenedor-informacion__img{
height:30rem;
width:21rem;
border:.2rem solid #000;
border-radius:0 2rem 0 2rem;
grid-row:1/3;
justify-self: center;
align-self:center;
}

.contenedor-informacion__texto{
width:25rem;
font-size:1.2rem;
font-family:sans-serif;
color:#000;
align-self: end;
justify-self:center;
}

.contenedor-informacion__contenedor-datos{
display:flex;
flex-wrap:wrap;
gap:1rem;
padding:2rem 2rem 0 2rem;

justify-content: center;
}

.contenedor-datos__caja{
height:5rem;
width:6rem;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
border-radius:1rem 1rem 1rem 1rem;
display:grid;
place-content: center;
gap:.5rem;
}

.contenedor-datos__caja b,span{
font-size:.9rem;
font-family:sans-serif;
text-align: center;
}

.contenedor-form{
background:url(img/imgAgricultura4.jpg);
background-position:center center;
background-size: cover;
display:grid;
place-content:center;
padding:3rem 0 3rem 0;
}

.contenedor-form__form{
height:30rem;
width:90vw;
display:flex;
flex-direction:column;
justify-content:center;
gap:1.5rem;
border:.2rem solid #fff;
background:rgba(0,0,0,60%);
}

.form__texto{
color:#fff;
font-family:sans-serif;
padding-left:5%;
}

.contenedor-form__form input,textarea{
height:2rem;
width:90%;
color:#000;
outline:none;
background:#fff;
border:none;
align-self:center;
cursor:pointer;
border-left:.2rem solid #787878;
font-family:sans-serif;
}

input::placeholder{
color: #000;
font-family:sans-serif;
}

textarea::placeholder{
color: #000;
font-family:sans-serif;
}

.form__mensaje{
height:7rem;
}

.footer{
background:#000;
display:grid;
gap:.5rem;
place-content:center;
padding:3rem 0 3rem 0;
}

.footer__link{
display:flex;
text-decoration:none;
color:#fff;
}

.link__img{
height:1rem;
width:1rem;
margin-right:.5rem;
align-self:center;
}





@media screen and (max-width: 1000px){ 
     
    .contenedor-principal__h1{
    font-size:2.7rem;
    }

    .contenedor-principal__texto{
    font-size:1.2rem;
    width:23rem;
    }

    .contenedor-inicio__img{
    height:25rem;
    width:17rem;
    }

    .contenedor-informacion__img{
    height:25rem;
    width:17rem;
    }

    .contenedor-informacion__texto{
    font-size:1.2rem;
    width:23rem;
    }

    .contenedor-datos__caja{
    height:4rem;
    width:5rem;
    }

    .contenedor-datos__caja b,span{
    font-size:.8rem;
    }

    .contenedor-form__form{
    height:25rem;
    }

}





@media screen and (max-width: 860px){



    .contenedor-informacion__adorno{
    transform: translateY(-6rem);
    }



    .contenedor-form__form{
    height:20rem;
    border:.1rem solid #fff;
    }

    .form__texto{
    font-size:1rem;
    }

    .contenedor-form__form input,textarea{
    height:1.5rem;
    border-left:.1rem solid #787878;
    }

    .contenedor-form__form textarea{
    height:5rem;
    }

}

@media screen and (max-width: 800px){

    .contenedor-inicio__img{
    height:20rem;
    width:13rem;
    }

    .contenedor-principal__texto{
    width:17rem;
    }

    .contenedor-informacion__adorno{
    height:4rem;
    width:4rem;
    }

    .contenedor-informacion__img{
    height:20rem;
    width:13rem;
    }

    .contenedor-informacion__texto{
    width:17rem;
    }

}


@media screen and (max-width: 600px){

    .contenedor-inicio{
    display: flex;
    flex-direction:column;
   
    }

    .contenedor-inicio__img{
        height:18rem;
        width:11rem;  
    }

    .contenedor-informacion{
    padding:6rem 0 2rem 0;
    }

   .contenedor-informacion__img{
    height:18rem;
    width:11rem;
   grid-row:1/2;
   }

   .contenedor-informacion__texto{
    width:11rem;
   align-self: center;
   }

   .contenedor-informacion__contenedor-datos{
    height:4rem;
    width:80%;
    justify-self: center;
    align-self: center;
    grid-column:1/3;

    display:grid;
    place-content: center;
    grid-template-columns:auto auto auto;
   }
}

@media screen and (max-width: 400px){
    .contenedor-informacion{
    display:flex;
    flex-direction:column;
    gap:2rem;
    }

    .contenedor-informacion__texto{
    width:17rem;
    text-align: center;
    }
}