*{
padding:0;
margin:0;
}

:root{
--colorInputs:#fff;
}

span{
color:var(--color--principal);
}

.icono{
height:6rem;
width:6rem;
position:absolute;
right:5rem;
top:40rem;
transform:scaleX(-1);
}

header{
height:10vh;
width:100vw;
display:grid;
align-content:center;
grid-template-columns:50vw 50vw;
position:absolute;
}

nav{
margin-right:5rem;
justify-self:end;
}

header b{
font-size:1.8rem;
font-family:sans-serif;
color:#fff;
justify-self: start;
margin-left:5rem;
}

header nav a{
font-size:1.2rem;
font-family:sans-serif;
margin:0 .5rem 0 .5rem;
text-decoration:none;
color:#fff;
border-bottom:.2rem solid transparent;
}

header nav a:hover{
border-bottom:.2rem solid #fff;
}

.fotos{
object-fit:cover;
}

.contenedor1{
height:40rem;
width:100vw;
display:grid;
grid-template-columns:50vw 50vw;
grid-template-rows:10vh 20vh 70vh;
background:url(img/imgAgricultura2.jpg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

.contenedor1 h1{
grid-row:2/3;
color:#fff;
align-self:end;
margin-left:5rem;
font-family:sans-serif;
font-size:3rem;
}

.contenedor1 p{
grid-row:3/4;
color:#fff;
margin-left:5rem;
font-family:sans-serif;
font-size:1.2rem;
text-align: justify;
}

.contenedor1 strong{
font-family:sans-serif;
color:#fff;
font-size:1.2rem;
}

.contenedor1 img{
height:27rem;
width:20rem;
grid-column:2/3;
grid-row:2/4;
justify-self:center;
margin-right:5rem;
border-radius:50px 0 50px 0;
}

.contenedor2{
height:40rem;
width:100vw;
display:grid;
grid-template-columns:50vw 10vw  10vw 30vw;
grid-template-rows:50% 50%;
gap:1.5rem;
background:#ededed;
background:url();
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

.contenedor2 img{
height:27rem;
width:20rem;
color:#000;
grid-column:1/2;
grid-row:1/3;
margin-top:1rem;
margin-left:5rem;
border-radius:50px 0 50px 0;
align-self:center;
}

.contenedor2 h2{
color:#000;
grid-column:1/2;
grid-row:2/3;
align-self:center;
}

.texto{
width:60%;
color:#818181;
grid-column:2/5;
align-self:end;
text-align:justify;
}

.contenedor2 h2{
font-size:3rem;
font-family:sans-serif;
}

.contenedor2 b{
color:#000;
font-family:sans-serif;
}

.contenedor2 p{
color: #000;
font-family:sans-serif;
}

.contenedor2 article{
height:6rem;
width:6rem;
background:#e7e7e7;
background:var(--color--principal);
box-shadow:0 0 1rem #e7e7e7;
border-radius:1rem;
display:grid;
}

.contenedor2 article,b,p{
text-align: center;
/*font-size:1.2rem;*/
}

.contenedor2 b{
font-size:1rem;
align-self:end;
}

.contenedor2 article p{
align-self: start;
font-size:.9rem;
}

.caja1{
grid-column:2/3;
grid-row:2/3;
}

.caja2{
grid-column:3/4;
grid-row:2/3;
}

.caja3{
grid-column:4/4;
grid-row:2/3;
}

.contenedor3{
height:30rem;
width:100vw;
background:#eeeaea;
background:url(img/imgAgricultura4.jpg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
display:grid;
place-content:center;
gap:1rem;
}


form{
  height:20rem;
  width:40rem;
  background:rgba(250,250,250,30%);
  display:grid;
  }
  
  form b{
  font-size:1.2rem;
  color:#000;
  margin-left:5%;
  align-self:center;
  font-family:sans-serif;
  }
  
  form input{
  height:2rem;
  width:90%;
  justify-self:center;
  align-self:center;
  background:transparent;
  border:none;
  border-bottom:.1rem solid var(--colorInputs);
  color:#ededed;
  outline:none;
  }
  
  ::placeholder{
  color:var(--colorInputs);
  font-family:sans-serif;
  }
  
  form textarea{
  height:5rem;
  width:90%;
  justify-self:center;
  align-self:center;
  background:transparent;
  border:none;
  border-bottom:.1rem solid var(--colorInputs);
  color:#ededed;
  outline:none;
  }
  
  form input:hover, textarea:hover{
  background:rgba(200,200,200, 20%);
  }
  
  input:is([type="submit"]) {
  background:rgba(200,200,200, 20%);
  border:none;
  }

  
/*
.contenedor3 p{
font-size:1.1rem;
font-family:sans-serif;
color:#fff;
}

.boton{
height:2rem;
width:10rem;
border-radius:1rem;
justify-self:center;
display:grid;
place-content:center;
text-decoration:none;
color:#000;
background:#fff;
font-size:1.1rem;
}

.boton:hover{
background:#000;
color:#fff;
}
*/

footer{
height:10rem;
width:100vw;
background:#000;
display:grid;
grid-template-columns:auto auto;
place-content:center;
gap:.4rem;
}

footer img{
height:1rem;
width:1rem;
filter:invert(100%);
}

footer a{
color:#fff;
text-decoration:none;
}


@media screen and (max-width:820px){
  .contenedor1 img{
    height:22rem;
    width:15rem;
  }

  .contenedor2 img{
    height:22rem;
    width:15rem;
  }

  .contenedor2 article:nth-child(4){
  transform:translateX(1.5rem);
  }

  .contenedor2 article:nth-child(5){
  grid-column:2/3;
  transform:translateY(7rem);
  margin-bottom:.5rem;
  }
  
}


@media screen and (max-width:670px){
  .contenedor1 img{
    height:18rem;
    width:11rem;
  }

  .contenedor2 img{
    height:18rem;
    width:11rem;
  }

  form{
    height:16rem;
    width:22rem;
  }
}


@media screen and (max-width:550px){
  header b{
  margin-left:3rem;
  }

  .contenedor1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
  }

  .contenedor1 h1{
    font-size:2rem;
    margin-top:10vh;
    align-self:start;
    margin-left:3rem;
  }

  .contenedor1 p{
  width:80%;
  margin-left:3rem;
  }

  .contenedor1 img{
    height:17rem;
    width:10rem;
    border-radius:15px 0 15px 0;
    align-self: start;
    margin-left:3rem;
  }

  .contenedor2{
  display:flex;
  flex-direction:column;
  }

  .contenedor2 img{
  height:17rem;
  width:10rem;
  border-radius:15px 0 15px 0;
  align-self: center;
  margin-left:0;
  }

  .icono{
  height:3rem;
  width:3rem;
  right:.1rem;
  }

  .contenedor2 p{
  align-self:center;
  }

  .contenedor2 article{
  align-self: center;
  }

  .contenedor2 article:nth-child(4){
    transform:translateX(0);
    }
  
    .contenedor2 article:nth-child(5){
    transform:translateY(0);
    }
}


