*{
padding:0;
margin:0;
}

body{
font-size:20px;
}

strong{
font-weight:100;
}

.header{
height:4rem;
display:flex;
position:absolute;
}
      
.header__b{
font-size:2rem;
color:#fff;
font-family:sans-serif;
align-self: center;
padding-left:2rem;
}

.contenedor-inicio{
background:url(img/imgAgricultura2.jpg);
display:grid;
grid-template-columns:50% 50%;
background-repeat:no-repeat;
background-position:center center;
background-size: cover;
padding:6rem 0 6rem 0;
}

.contenedor-inicio__contenedor-principal{
display:flex;
flex-direction: column;
justify-content:center;
gap:1rem;
padding-left:2rem;
}

.contenedor-principal__h1{
font-size:3rem;
letter-spacing:1px;
color:#fff;
margin-bottom:.5rem;
}

.contenedor-principal__texto{
width:23rem;
font-size:1.2rem;
font-family:sans-serif;
color:#fff;
}

.contenedor-inicio__contenedor-img-principal{
display:flex;
justify-content:center;
}

.contenedor-inicio__contenedor-img-principal__img{
height:30rem;
width:21rem;
border:2px solid #fff;
border-radius:2rem 0 2rem 0;
}

.contenedor-informacion{
display:grid;
grid-template-columns:50% 50%;
padding:4rem 0 4rem 0;
background:#FCF7F1;
background:linear-gradient(to bottom,#FCF7F1 90%,#F5F2EF );
}

.contenedor-informacion__adorno{
height:3.5rem;
width:3.5rem;
position: absolute;
right:10vw;
transform: translateY(-4rem);
}

.contenedor-informacion__contenedor-img{
display:flex;
justify-content:center;
}

.contenedor-informacion__contenedor-img__img{
height:30rem;
width:21rem;
border:2px solid #000;
border-radius:0 2rem 0 2rem;
}

.contenedor-informacion__contenedor-info{
display:flex;
flex-direction:column;
justify-content:center;
gap:2rem;
}

.contenedor-info__h2{
font-size:2rem;
align-self: center;
letter-spacing:1px;
}

.contenedor-info__texto{
width:23rem;
font-size:1.2rem;
font-family:sans-serif;
color:#000;
align-self: center;
}

.contenedor-info__contenedor-cajas{
display:flex;
flex-wrap:wrap;
gap:1rem;
padding:2rem 2rem 0 2rem;
align-self: center;

}

.contenedor-cajas__caja{
height:5rem;
width:6rem;
background:#fff;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
border-radius:1rem 1rem 1rem 1rem;
display:grid;
place-content: center;
gap:.5rem;
}

.contenedor-cajas__caja .caja__b, .caja__span{
font-size:.9rem;
font-family:sans-serif;
text-align: center;
}

.caja__b{
font-weight:700;
}

.caja__span{
color:#47AE45;
font-weight:700;
}

.contenedor-section-mapa{
display:flex;
flex-direction:column;
padding:4rem 0 4rem 0;
gap:2rem;
background:linear-gradient(to top, #ededed 90%,#F5F2EF);
}

.contenedor-section-mapa__contenedor-texto{
max-width:30rem;
align-self: center;
padding:0 2rem 0 2rem;
}

.contenedor-texto__h3{
font-size:2rem;
margin-bottom:1.5rem;
}

.contenedor-texto__texto{
font-family:sans-serif;
font-size:1.2rem;
}

.contenedor-section-mapa__mapa{
height:30rem;
width:80vw;
border:.1rem solid #000;
border-radius:.3rem;
align-self: center;
}

.contenedor-form{
background:url(img/imgAgricultura4.jpg);
background-position:center center;
background-size: cover;
display:grid;
place-content:center;
padding:5rem 0 5rem 0;
}

.contenedor-form__form{
height:30rem;
width:90vw;
display:flex;
flex-direction:column;
justify-content:center;
gap:1rem;
background:#fff;
border:.1rem solid #000;
}

.form__texto{
color:#000;
font-family:sans-serif;
padding-left:5%;
}

.contenedor-form__form input,textarea{
height:2rem;
width:90%;
color:#000;
outline:none;
background:#ededed;
border:none;
align-self:center;
cursor:pointer;
border-left:.2rem solid #787878;
font-family:sans-serif;
}

#boton{
border-left:.2rem solid #ededed;
}

input::placeholder{
color: #000;
font-family:sans-serif;
}

textarea::placeholder{
color: #000;
font-family:sans-serif;
}

.form__mensaje{
height:7rem;
}

.footer{
background:#000;
display:grid;
gap:.5rem;
place-content:center;
padding:3rem 0 3rem 0;
}

.footer__link{
display:flex;
text-decoration:none;
color:#fff;
}

.link__img{
height:1rem;
width:1rem;
margin-right:.5rem;
align-self:center;
}


@media screen and (max-width: 900px){
    .contenedor-principal__h1{
        font-size:2.7rem;
        }
    
        .contenedor-principal__texto{
        font-size:1.2rem;
        width:18rem;
        }
    
        .contenedor-inicio__contenedor-img-principal__img{
        height:25rem;
        width:16rem;
        }
    
        .contenedor-informacion__contenedor-img__img{
        height:25rem;
        width:16rem;
        }
    
        .contenedor-informacion__texto{
        font-size:1.2rem;
        width:18rem;
        }
    
        .contenedor-datos__caja{
        height:4rem;
        width:5rem;
        }
    
        .contenedor-datos__caja b,span{
        font-size:.8rem;
        }
    
        .contenedor-form__form{
        height:25rem;
        }
} 

@media screen and (max-width: 800px){

.contenedor-principal__texto, .contenedor-info__texto{
width:20rem;
}

}

@media screen and (max-width: 700px){

    .contenedor-inicio,.contenedor-informacion{
    display:flex;
    flex-direction:column;
    gap:1rem;
    }

    .contenedor-inicio__contenedor-img-principal{
    align-self: start;
    transform:translateX(2rem);
    }

    .contenedor-informacion__contenedor-img{
    align-self:end;
    transform:translateX(-2rem);
    }

    .contenedor-informacion__contenedor-img__img{
    margin-bottom:2rem;
    }

    .contenedor-informacion__adorno{
    left:10vw;
    }

    .contenedor-section-mapa__mapa{
    width:100vw;
    }

    .contenedor-form__form{
    width:100vw;
    border-left:none;
    border-right:none;
    }
}




@media screen and (max-width: 500px){
    strong{
    font-weight:bold;
    }
      
    .header__b{
    font-size:1.8rem;
    }


    .contenedor-principal__h1{
    font-size:2.5rem;
    }

    
    .contenedor-principal__texto{
    width:23rem;
    font-size:1.1rem;
    }

    .contenedor-inicio__contenedor-img-principal__img, .contenedor-informacion__contenedor-img__img{
    height:18rem;
    width:11rem;
    }


    .contenedor-info__h2{
    font-size:1.5rem;
    }


    .contenedor-info__texto{
    width:23rem;
    font-size:1.1rem;
    text-align:center;
    }


    .contenedor-cajas__caja{
    height:4.5rem;
    width:5.5rem;
    }


    .contenedor-cajas__caja .caja__b, .caja__span{
    font-size:.8rem;
    }

    .contenedor-texto__h3{
    font-size:1.5rem;
    }

    .contenedor-texto__texto{
    font-size:1.1rem;
    }


    .form__texto{
    height:1.9rem;
    }


    .contenedor-form__form input,textarea{
    height:1.8rem;
    }


    .form__mensaje{
    height:5rem;
    }
}
